################################
# Development requirements
################################
django>=1.6,<1.9
Fabric
coverage
ecdsa
nose
paramiko==1.15.2
pycrypto
wheel
wsgiref
xmltodict
colorama
future
six
-e git+git://github.com/illagrenan/color-printer.git#egg=color-printer
pypandoc
tox
flake8
requests[security]
twine